

/*  External Libraries
*******************************************************************************/

// Custom Library
@import './_lib/all';


/*  Content card
*******************************************************************************/

.content-card {

    position: relative; overflow: hidden;
    padding-bottom: percentage(6/7);
    background-color: #fafafa;
    border: 1px solid #cecece; border-radius: 3px;
    box-shadow: 0 0 3px rgba(#333, 0.3);

    &:hover, &:focus {

        .card-overlay {

            @include transform(translateY(0));

            opacity: 1;

        }

        .card-actions {

            @include transform(translateY(0));

        }

    }

    .card-content {

        position: absolute; z-index: 1;
        right: 0; bottom: 0; left: 0;
        padding: 5px 15px 0;

        background-color: #fff;
        border-top: 1px solid #cecece;

    }

    .card-title {

        @include ellipsis(90%);

        display: block; max-width: 100%;

    }

    .card-description {

        @include ellipsis(90%);

        display: block; max-width: 100%;

    }

    .card-background {

        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;

        margin: -30%;

        img {

            width: 100%;

        }

    }

    .card-overlay {

        @include transition(all 300ms ease-in-out);
        @include transform(translateY(percentage(1/1)));

        opacity: 0;

        position: absolute; z-index: 10;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: rgba(#333, 0.3);

    }

    .card-actions {

        @include transition(all 300ms ease-in-out);
        @include transition-delay(200ms);
        @include transform(translateY(percentage(1/1)));

        text-align: center;

        position: absolute;
        bottom: 0; left: 0; width: percentage(1/1);
        padding: percentage(1/2) 0;

        button {

            margin: 5px;

        }

    }

}


/*  Bootstrap modifications
*******************************************************************************/

.row {

    .content-card {

        margin-bottom: 30px;

    }

}


/*  Custom Container modifications
*******************************************************************************/

.content-cards-container {

    @include clearfix();

    margin: 0 -15px;

    .card-wrap {

        float: left; width: 100%;
        padding: 15px; box-sizing: border-box;

    }

}


/*  Custom Breakpoints
*******************************************************************************/

@include media-from ($BREAKPOINTS, S) {

    .content-cards-container .card-wrap {

        width: percentage(1/2);

        .content-card {

            padding-bottom: percentage(6/9);

        }

    }

}

@include media-from ($BREAKPOINTS, M) {

    .content-cards-container .card-wrap {

        width: percentage(1/4);

        .content-card {

            padding-bottom: percentage(6/7);

        }

    }

}
